body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ada5a5;
    line-height: 1.5;
}

label {
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 200px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
    resize: none;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: #333;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #444;
    }

.container {
    max-width: 700px;
    margin: 20px auto;
    background-color: #FFF;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
